@charset 'utf-8';

// RENDERWELL SCSS
// base
@import "font";

// FOUNDATION SCSS
@import 'settings'; // ALSO CONTAINS RENDERWELL SETTINGS
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


// THIRD PARTY
// SLICK SLIDER
@import "vendor/slick";
@import "vendor/slick-theme";


// PIXEL TEMPLATE
// TODO Isolate only styles that are needed from the pixel css
// @import "vendor/pixel";


// RENDERWELL SCSS
// base
@import "mixins";
@import "utilities";
@import "base";
@import "layout";
@import "site";

// foundation component variations
@import "foundation-component-variations/rw-title-bar";

// components
@import "components/media";
@import "components/card";

// page
@import "page/site-header";

// example skins
@import "example-skins";

// tests
@import "tests";


// TEST PARALLAX
.test-parallax {
    width: 100%;
    height: 400px;
    background: url(/assets/img/mountains.jpg) no-repeat fixed;
}

.test-parallax-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.test-parallax-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 1em;
    margin: 1em auto;
    color: #ffffff;
    text-align: center;
}
// end TEST PARALLAX
