<ul class="vertical large-horizontal menu" data-responsive-menu="drilldown large-dropdown">
    <li>
        <a href="#0">About Us</a>
        <ul class="vertical menu">
            <li><a href="#0">Management Team</a></li>
            <li><a href="#0">Intranet Consultants</a></li>
            <li><a href="#0">Our Clients</a></li>
            <li><a href="#0">Case Studies</a></li>
            <li><a href="#0">Vision and Mission</a></li>
            <li><a href="#0">Testimonials</a></li>
            <li><a href="#0">News</a></li>
            <li><a href="#0">Careers</a></li>
            <li><a href="#0">Contact Us</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Our Expertise</a>
        <ul class="vertical menu">
            <li><a href="#0">Intranet Consulting</a></li>
            <li><a href="#0">Enterprise Intranet Portal Package</a></li>
            <li><a href="#0">Social SharePoint Intranet Solution</a></li>
            <li><a href="#0">Consumer Health</a></li>
            <li><a href="#0">Intranet Strategy</a></li>
            <li><a href="#0">Assessment</a></li>
            <li><a href="#0">Intranet Planning</a></li>
            <li><a href="#0">ROI</a></li>
            <li><a href="#0">Technology Evaluations</a></li>
            <li><a href="#0">Content Management Systems</a></li>
            <li><a href="#0">Intranet 2.0</a></li>
            <li><a href="#0">SharePoint 2010 Intranet</a></li>
            <li><a href="#0">SharePoint 2013 Intranet</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Events</a>
        <ul class="vertical menu">
            <li><a href="#0">Upcoming Events</a></li>
            <li><a href="#0">Past Events</a></li>
            <li><a href="#0">Speaking Topics</a></li>
            <li><a href="#0">Workshops and Seminars</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Your Issues</a>
        <ul class="vertical menu">
            <li><a href="#0">Issues you may have</a></li>
            <li><a href="#0">"Our site sucks"</a></li>
            <li><a href="#0">"We can't find anything"</a></li>
            <li><a href="#0">"The information is old"</a></li>
            <li><a href="#0">"The site is boring"</a></li>
            <li><a href="#0">"No one can find it"</a></li>
            <li><a href="#0">"We're using SharePoint"</a></li>
            <li><a href="#0">Business strategies for intranet sites</a></li>
            <li><a href="#0">Business strategies for websites</a></li>
            <li><a href="#0">Creating a Business Case for a better intranet</a></li>
            <li><a href="#0">Creating a Business Case for a better website</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Our Solutions</a>
        <ul class="vertical menu">
            <li><a href="#0">Assessment</a></li>
            <li><a href="#0">Content Management</a></li>
            <li><a href="#0">Intranet Design</a></li>
            <li><a href="#0">Functional Planning</a></li>
            <li><a href="#0">Governance</a></li>
            <li><a href="#0">Intranet Redesign (Design Process)</a></li>
            <li><a href="#0">Resources</a></li>
            <li><a href="#0">Search & Find-ability</a></li>
            <li><a href="#0">SharePoint</a></li>
            <li><a href="#0">Strategy</a></li>
            <li><a href="#0">Technology</a></li>
            <li><a href="#0">Usability</a></li>
            <li><a href="#0">Clients</a></li>
            <li><a href="#0">Case Studies</a></li>
            <li><a href="#0">Testimonials</a></li>
            <li><a href="#0">Website / Intranet Audit</a></li>
            <li><a href="#0">Social Intranet Methodology</a></li>
            <li><a href="#0">Intranet & SharePoint Implementation</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Articles, Blogs, Media</a>
        <ul class="vertical menu">
            <li><a href="#0">Best Practices</a></li>
            <li><a href="#0">Content</a></li>
            <li><a href="#0">Content Management</a></li>
            <li><a href="#0">e-Business</a></li>
            <li><a href="#0">e-Health</a></li>
            <li><a href="#0">Governance</a></li>
            <li><a href="#0">Intranet Articles</a></li>
            <li><a href="#0">Learning</a></li>
            <li><a href="#0">Return on Investment (ROI)</a></li>
            <li><a href="#0">Search and Search Engines</a></li>
            <li><a href="#0">SharePoint</a></li>
            <li><a href="#0">Strategic Design</a></li>
            <li><a href="#0">Usability</a></li>
            <li><a href="#0">Social Media</a></li>
            <li><a href="#0">Blogs</a></li>
            <li><a href="#0">Newsletter</a></li>
            <li><a href="#0">Podcasts</a></li>
            <li><a href="#0">Presentations & Webinars</a></li>
        </ul>
    </li>
    <li>
        <a href="#0">Downloads</a>
        <ul class="vertical menu">
            <li><a href="#0">Digital Workplace Process</a></li>
            <li><a href="#0">Digital Workplace Analytics H&R Block Oct 2016</a></li>
            <li><a href="#0">HR & The Digital Workplace Oct 2016</a></li>
        </ul>
    </li>
</ul>
